header{
    background-image: url(./img3/Group\ 3.png);
    background-size: cover;
}

header nav{
    background: none;
}

header .info{
    background: none;
}

header nav ul li a{
    color: white !important;
}

header nav button.a{
    background-color: rgba(94, 77, 205, 1) !important;
}

header nav button.b{
    background-color: rgba(255, 210, 221, 1) !important;
    color: rgba(94, 77, 205, 1) !important;
    border: none !important;
}

header .info button{
    background-color:  rgba(94, 77, 205, 1) !important;
}

.one .cards p b{
    color: rgba(94, 77, 205, 1) !important;
}

.one .card.c2 button{
    background-color: rgba(255, 210, 221, 1) !important;
    color: rgba(94, 77, 205, 1) !important;
}

.one button.btn{
    border-color: rgba(94, 77, 205, 1) !important;
    color: rgba(94, 77, 205, 1) !important;
}

.two{
    background-color: rgba(255, 210, 221, 1) !important;
}

.two p{
    color: white !important;
}

.three .left button{
    background-color: rgba(94, 77, 205, 1) !important;
}

footer .bottom button{
    background-color: rgba(94, 77, 205, 1) !important;
}